:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --text-color-titile: #db00ff;
  --accent-color: #ff0070;
  --text-color-accent: #000028;
  --decor-color: #ff0070;
  --button-color: #ff0070;
  --button-hover-color: #FF007066;
  --text-main-color: #f1b2ce;
}

.decorative-text {
  display: block;
}
