/* Глобальные стили для проекта, их можно дополнять и менять по желанию */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-inline-size: 375px;
  max-inline-size: 1440px;
  max-block-size: 6770px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  bottom: 10px;
  left: 0;
  border-inline-start: 1px solid var(--decor__color, #ff0070);
  border-block-end: 1px solid var(--decor__color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-inline-end: 1px solid var(--decor__color, #ff0070);
  border-block-start: 1px solid var(--decor__color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
}
