:root.theme-light {
  --bg-image: url(/images/cover-image-light.png);
  --bg-color: #ffc2e6;
  --text__color__titile: #ffc2e6;
  --accent-color: #ff8dcb;
  --text__color__accent: #353430;
  --text__main__color: #353430;
  --decor__color: #353430;
}

.theme-light .decorative-text {
  display: none;
}

.theme-light .header__theme-menu-button {
  color: var(--text__main__color);
}

.theme-light .header__theme-menu-button:hover {
  border: 0.5px solid var(--text__main__color);
}

.theme-light .header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--text__main__color);
}

.theme-light .header__theme-menu-button_active {
  border: 1px solid var(--text__main__color);
}

.theme-light .section__title {
  color: var(--text__main__color);
}

@media (prefers-color-scheme: light) {
  :root.theme-light {
    --bg-image: url(/images/cover-image-light.png);
    --bg-color: #ffc2e6;
    --text__color__titile: #ffc2e6;
    --accent-color: #ff8dcb;
    --text__color__accent: #353430;
    --text__main__color: #353430;
    --decor__color: #353430;
  }

  .theme-light .header__theme-menu-button {
    color: var(--text__main__color);
  }

  .theme-light .header__theme-menu-button:hover {
    border: 0.5px solid var(--text__main__color);
  }

  .theme-light .header__theme-menu-button:focus-visible {
    border-block-end: 1px solid var(--text__main__color);
  }

  .theme-light .header__theme-menu-button_active {
    border: 1px solid var(--text__main__color);
  }

  .theme-light .section__title {
    color: var(--text__main__color);
  }
}
