.page {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  gap: var(--page-gap, 40px);
  padding: 0 var(--padding-page, 10px);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding: var(--padding-page, 10px) 0;
  font-family: var(--font-family,  'IBM Plex mono', monospace, sans-serif);
  block-size: 100vh;
  min-block-size: 668px;
}

.header__theme-menu {
  justify-self: flex-end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 3.3px 13px;
  color: var(--button-color);
  font-family: var(--font-family,  'IBM Plex mono', monospace, sans-serif);
  font-weight: var(--text-weight-regular, 400);
  font-size: var(--text__size, 18px);
  line-height: 18px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 0.5px solid var(--button-hover-color);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--button-color);
  pointer-events: none;
}

.header__title {
  justify-self: flex-start;
  align-self: flex-end;
  color: var(--text-color-titile);
  font-weight: var(--text-weight-bold, 700);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__wrapper__paragraf {
  justify-self: flex-start;
  align-self: center;
}

.header__paragraf {
  font-weight: var(--text-weight-bold, 700);
  font-size: var(--text-size, 18px);
  line-height: var(--text-height, 23.4px);
  inline-size: 354px;
}

.title-decor {
  color: var(--text-color-accent);
  background-color: var(--accent-color);
}

.decorative-text {
  position: absolute;
  top: var(--padding-page);
  right: 28px;
  color: var(--accent-color);
  font-weight: var(--text-weight-regular, 400);
  font-size: var(--text-size, 18px);
  line-height: 25px;
}

.decorative-text::after {
  content: '';
  position: absolute;
  top: 8px;
  right: -19px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone {
  position: relative;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  bottom: var(--padding-page);
  left: 0;
  border-inline-start: 1px solid var(--decor-color, #ff0070);
  border-block-end: 1px solid var(--decor-color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  top: var(--padding-page);
  right: 0;
  border-inline-end: 1px solid var(--decor-color, #ff0070);
  border-block-start: 1px solid var(--decor-color, #ff0070);
  block-size: 25px;
  inline-size: 25px;
}
/*-----------------------------main-------------------*/

.main {
  display: grid;
  gap: var(--main-gap, 50px);
  font-family: var(--font-family,  'IBM Plex mono', monospace, sans-serif);
}

.section {
  display: grid;
  gap: var(--main-gap-section, 20px);
}

.section__wrapper {
  display: grid;
  gap: var(--main-gap-section, 20px);
}

.section__title {
  color: var(--decor-color);
  font-family: inherit;
  font-weight: var(--text-weight-bold, 700);
  font-size: var(--text-size, 18px);
  line-height: var(--text-height, 23.4px);
}

.section__subtitle {
  font-family: inherit;
  font-weight: var(--text-weight-bold, 700);
  font-size: var(--text-size, 18px);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title__card {
  font-family: inherit;
  font-weight: var(--text-weight-bold, 700);
  font-size: var(--text-size, 18px);
  line-height: var(--text-height, 23.4px);
}

.title__weight {
  font-weight: var(--text-weight-regular, 400);
}

.section__paragraf {
  color: var(--text-main-color);
  font-family: inherit;
  font-weight: var(--text-weight-regular, 400);
  font-size: var(--text-size, 18px);
  line-height: var(--text-height, 23.4px);
}

.section__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section__link:hover {
  text-decoration: underline;
  text-decoration-color: var(--text-main-color);
}

.section__link:focus {
  outline: none;
}

.section__link:focus-visible {
  outline: 1px solid var(--text-main-color);
}

.galary {
  display: grid;
  gap: var(--galary-gap, 10px);
}

.galary__list {
  display: grid;
  grid-template-rows: 0.4fr 1fr 0.5fr 1fr 0.5fr;
  grid-auto-flow: dense;
  gap: 10px;
}

.galary__img {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  padding: var(--padding-page, 10px) 0;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  justify-self: center;
  align-self: center;
  color: var(--text-color-titile);
  font-family: var(--font-family,  'IBM Plex mono', monospace, sans-serif);
  font-weight: var(--text-weight-bold, 700);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {

  .header {
    min-block-size: 1024px;
  }

  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__wrapper__paragraf {
    justify-self: flex-end;
    align-self: center;
  }

  .header__paragraf {
    inline-size: 364px;
  }

  .main {
    gap: var(--main-gap, 80px);
  }

  .section {
    grid-template-columns: min-content 1fr;
  }

  .section__title {
    min-inline-size: 236px;
  }


  .section__adaptivity__windoy {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section__title__adaptivity {
    inline-size: max(200px);
  }

  .galary {
    gap: var(--galary-gap, 20px);
  }

  .galary__list {
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: repeat(3, 0.5fr);
    gap: var(--galary-gap, 20px);
  }

  .galary__img:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }

  .galary__img:nth-child(2) {
    grid-column: 3;
    grid-row: 1/3;
  }

  .galary__img:nth-child(3) {
    grid-column: 1;
    grid-row: 2/4;
  }

  .galary__img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .galary__img:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3;
  }

  .footer {
    min-block-size: 1024px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {

  .page {
    grid-template-rows: min-content 1fr min-content;
  }

  .header {
    min-block-size: 768px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    flex-direction: row;
    gap: 10px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__paragraf {
    min-inline-size: 491px;
  }

  .section__title {
    min-inline-size: 315px;
  }

  .section__adaptivity {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1fr 1fr);
  }

  .section__title__adaptivity {
    grid-column: 1;
    grid-row: 1;
    inline-size: max(315px);
  }

  .section__wrapper__adaptivity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/4;
    grid-row: 2;
  }

  .footer {
    min-block-size: 768px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
