.page {
  display: grid;
  grid-template-rows: auto auto auto;
  gap: var(--page__gap, 40px);
  padding: var(--padding__page, 10px);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  grid-template-rows: 35% max-content 34%;
  font-family: 'IBM Plex mono';
  block-size: 658px;
}

.decorative-text {
  position: absolute;
  top: 0;
  right: 28px;
  color: var(--accent-color);
  font-weight: var(--text__weight__regular, 400);
  font-size: var(--text__size, 18px);
  line-height: 25px;
}

.decorative-text::after {
  content: '';
  position: absolute;
  top: 8px;
  right: -19px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.header__theme-menu {
  justify-self: flex-end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: none;
  padding: 4.3px 13px;
  color: var(--accent-color);
  font-family: var(--font__family, 'IBM Plex mono', sans-serif);
  font-weight: var(--text__weight__regular, 400);
  font-size: var(--text__size, 18px);
  line-height: 18px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  border: 0.5px solid #ff007066;
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--accent-color);
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
  pointer-events: none;
}

.header__title {
  justify-self: flex-start;
  align-self: flex-end;
  color: var(--text__color__titile);
  font-weight: var(--text__weight__bold, 700);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__wrapper__paragraf {
  justify-self: flex-end;
  align-self: center;
}

.header__paragraf {
  font-weight: var(--text__weight__bold, 700);
  font-size: var(--text__size, 18px);
  line-height: var(--text__height, 23.4px);
  inline-size: max(364px);
}

.title-decor {
  color: var(--text__color__accent);
  background-color: var(--accent-color);
}
/*-----------------------------main-------------------*/

.main {
  display: grid;
  gap: var(--main__gap, 50px);
  font-family: var(--font__family, 'IBM Plex mono', sans-serif);
}

.section {
  display: grid;
  gap: var(--main__gap__section, 20px);
}

.section__wrapper {
  display: grid;
  gap: var(--main__gap__section, 20px);
}

.section__title {
  color: var(--accent-color);
  font-family: inherit;
  font-weight: var(--text__weight__bold, 700);
  font-size: var(--text__size, 18px);
  line-height: var(--text__height, 23.4px);
}

.section__subtitle {
  font-family: inherit;
  font-weight: var(--text__weight__bold, 700);
  font-size: var(--text__size, 18px);
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title__card {
  font-family: inherit;
  font-weight: var(--text__weight__bold, 700);
  font-size: var(--text__size, 18px);
  line-height: var(--text__height, 23.4px);
}

.title__weight {
  font-weight: var(--text__weight__regular, 400);
}

.section__paragraf {
  color: var(--text__main__color);
  font-family: inherit;
  font-weight: var(--text__weight__regular, 400);
  font-size: var(--text__size, 18px);
  line-height: var(--text__height, 23.4px);
}

.section__link {
  text-decoration: none;
  text-shadow: 2px 1.5px 0 var(--accent-color);
}

.section__link:hover {
  text-decoration: underline;
  text-decoration-color: var(--text__main__color);
}

.section__link:focus {
  outline: none;
}

.section__link:focus-visible {
  outline: 1px solid var(--text__main__color);
}

.galary {
  display: grid;
  gap: var(--galary__gap, 10px);
}

.galary__list {
  display: grid;
  grid-template-rows: 0.4fr 1fr 0.5fr 1fr 0.5fr;
  gap: 10px;
}

.galary__img {
  object-fit: cover;
  inline-size: 100%;
  block-size: 100%;
  max-block-size: 100%;
}

.footer {
  position: relative;
  display: grid;
  margin-top: var(--padding__page, 10px);
  padding-bottom: var(--padding__page, 10px);
  block-size: min(1024px, 768px, 657px);
}

.footer__title {
  justify-self: center;
  align-self: center;
  color: var(--text__color__titile);
  font-family: var(--font__family, 'IBM Plex mono', sans-serif);
  font-weight: var(--text__weight__bold, 700);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

@media (width >= 768px) {
  .page {
    grid-template-rows: max-content max-content 11%;
    gap: var(--page__gap, 60px);
    padding: var(--padding__page, 20px);
    block-size: max(5850px);
  }

  .header {
    display: grid;
    grid-template-rows: 44% max-content 44%;
    block-size: 1004px;
  }

  .header__title {
    margin-inline-start: -20px;
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .decorated-zone::before {
    bottom: 20px;
  }

  .main {
    gap: var(--main__gap, 80px);
  }

  .section {
    grid-template-columns: 1fr 2fr;
  }

  .section__adaptivity__windoy {
    display: grid;
    grid-template-columns: 1fr;
  }

  .section__title__adaptivity {
    inline-size: max(200px);
  }

  .galary {
    gap: var(--galary__gap, 20px);
  }

  .galary__list {
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: repeat(3, 0.5fr);
    gap: var(--galary__gap, 20px);
  }

  .galary__img:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1;
  }

  .galary__img:nth-child(2) {
    grid-column: 3;
    grid-row: 1/3;
  }

  .galary__img:nth-child(3) {
    grid-column: 1;
    grid-row: 2/4;
  }

  .galary__img:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
  }

  .galary__img:nth-child(5) {
    grid-column: 2/4;
    grid-row: 3;
  }

  .footer {
    display: grid;
    margin-top: var(--padding__page, 20px);
    padding-bottom: var(--padding__page, 20px);
    block-size: 1004px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

@media (width >= 1024px) {
  .page {
    grid-template-rows: max-content max-content 11%;
    gap: var(--page__gap, 60px);
    padding: var(--padding__page, 20px);
    block-size: max(5008px);
  }

  .header {
    display: grid;
    grid-template-rows: 40% max-content 40%;
    block-size: 748px;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: flex-start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__paragraf {
    inline-size: max(491px);
  }

  .section__adaptivity {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1fr 1fr);
  }

  .section__title__adaptivity {
    grid-column: 1;
    grid-row: 1;
    inline-size: max(315px);
  }

  .section__wrapper__adaptivity {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column: 1/4;
    grid-row: 2;
  }

  .section__adaptivity__windoy {
    display: grid;
    grid-template-columns: 1fr;
  }

  .footer {
    display: grid;
    margin-top: var(--padding__page, 20px);
    padding-bottom: var(--padding__page, 20px);
    block-size: 748px;
  }

  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
