:root {
  --font-family: 'IBM Plex mono', monospace, sans-serif;
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --text-color-titile: #db00ff;
  --accent-color: #ff0070;
  --text-color-accent: #000028;
  --decor-color: #ff0070;
  --button-color: #ff0070;
  --button-hover-color: #FF007066;
  --text-main-color: #f1b2ce;
  --text-size: 18px;
  --text-weight-bold: 700;
  --text-weight-regular: 400;
  --text-height: 23.4px;
  --padding-page: 10px;
  --page-gap: 40px;
  --main-gap: 50px;
  --main-gap-section: 20px;
  --galary-gap: 10px;
}

@media (width >= 768px) {
  
  :root {
    --padding-page: 20px;
    --page-gap: 60px;
    --main-gap: 80px;
    --galary-gap: 20px;
  }
}
